host_default: localhost
host_email: localhost
host_back: localhost
host_front: localhost
notifier_address: "admin@localhost"
notified_address: ""
login_key: "HTTP_LOGIN"
token_key: "HTTP_LOUT"
hipchat_room: "ROOM"
hipchat_from: "who"
hipchat_token: "key"
